{% extends 'admin/layout.html.twig' %}
{% form_theme form _self %}
{% use 'bootstrap_3_layout.html.twig' with form_label as base_form_label %}
{% use 'bootstrap_3_layout.html.twig' with form_widget_simple as base_form_widget_simple %}

{% block form_help -%}
    {% for attrname, attrvalue in attr %}
        {% if attrname == 'data-help' %}
            <span class="help-block">{{ attrvalue|raw }}</span>
        {% endif %}
    {% endfor %}
{%- endblock form_help %}
 
{% block form_errors -%}
    {{ parent() }}
    {{- block('form_help') -}}
{%- endblock form_errors %}

{% block form_label %}
    {{ block('base_form_label') }}

    {% if required %}
        <span class="required" style="color:red">*</span>
    {% endif %}
{% endblock %}
{% block _app_record_health_medications_row %}
    <div class="col-sm-offset-1 form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}
{% block _app_record_health_numLiveBirth_row %}
    <div class="col-sm-offset-1 form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}
{% block _app_record_health_numStillBirth_row %}
    <div class="col-sm-offset-1 form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}
{% block _app_record_health_numMiscarriages_row %}
    <div class="col-sm-offset-1 form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}
{% block _app_record_health_numAbortions_row %}
    <div class="col-sm-offset-1 form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}
{% block _app_record_health_numTubalPreg_row %}
    <div class="col-sm-offset-1 form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}
{% block _app_record_health_isCSection_row %}
    <div class="col-sm-offset-1 form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}
{% block _app_record_health_dateOfLastBirth_row %}
    <div class="col-sm-offset-1 form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block body_id 'admin_record_new' %}

    {% block sidebar %}
        <div id="sidebar-content">
            <div class="list-group">
                <a class="list-group-item disabled
                   {% if step==1 %}
                       active" href="{{ path('admin_record_index')}}">
                   {% elseif step > 1 %}
                       " href="{{ path('admin_record_index')}}"><i class="fa fa-check"></i> 
                   {%endif%}                   
                    {{'sidebar.basic_info'|trans}}</a>
                <a class="list-group-item disabled
                   {% if step==2 %}
                       active " href="{{ path('admin_record_index')}}">
                   {% elseif step < 2 %}
                       " href="{{ path('admin_record_index')}}">
                   {% elseif step > 2 %}
                       " href="{{ path('admin_record_index')}}"><i class="fa fa-check"></i>
                   {%endif%}
                   {{'sidebar.health'|trans}}</a>
                <a class="list-group-item disabled
                   {% if step==3 %}
                       active " href="{{ path('admin_record_index')}}">
                   {% elseif step < 3 %}
                       " href="{{ path('admin_record_index')}}">
                   {% elseif step > 3 %}
                       " href="{{ path('admin_record_index')}}"><i class="fa fa-check"></i>
                   {%endif%}
                   {{'sidebar.appointment'|trans}}</a>
                
                <a class="list-group-item disabled
                   {% if step==4 %}
                       active " href="{{ path('admin_record_index')}}">
                   {% elseif step < 4 %}
                       " href="{{ path('admin_record_index')}}">
                   {%endif%}
                   {{'sidebar.review'|trans}}</a>
            </div>
        </div>

    {% endblock %}
    {% block main %}
        {{ include('default/_flash_messages.html.twig') }}
        
        <h1>{{ 'title.record_new'|trans }}</h1>
        {% if record.priority == 2 %}
            <div class="alert alert-dismissible alert-danger" role="alert">
                {{'label.high_priority'|trans }}
            </div>
        {% endif %}
        {% if step == 4%}
            <p>{{'label.review_info'|trans|raw}}</p>
        {% endif %}
        
        {{ include('admin/record/_form.html.twig', {
        include_back_to_home_link: true,
    }) }}
    {% endblock %}


