{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_record_show' %}

{% block main %}
    <h1>{{ 'label.client_record'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'label.help_operator'|trans }}</th>
                <td>{{ record.operator.userName}}</td>
            </tr>
            <tr>
                <th>{{ 'label.date_of_call'|trans }}</th>
                <td>{{ record.dateOfCall|localizeddate('long', 'medium') }}</td>
            </tr>
            <tr>
                <th>{{ 'label.client_id'|trans }}</th>
                <td>{{ record.clientID }}</td>
            </tr>
            <tr>
                <th>{{ 'label.first_name'|trans }}</th>
                <td>{{ record.firstName }}</td>
            </tr>
            <tr>
                <th>{{ 'label.last_name'|trans }}</th>
                <td>{{ record.lastName }}</td>
            </tr>
            <tr>
                <th>{{ 'label.date_of_birth'|trans }}</th>
                <td>{{ record.dob|date("m/d/Y")}}</td>
            </tr>
            <tr>
                <th>{{ 'label.age'|trans }}</th>
                <td>{{ record.age}}</td>
            </tr>
            <tr>
                <th>{{ 'label.race'|trans }}</th>
                <td>{{ record.race.name|trans}}</td>
            </tr>
            <tr>
                <th>{{ 'label.ethnicity'|trans }}</th>
                <td>{{ record.isHispanic ? 'cat.yes'|trans : 'cat.no'|trans}}</td>
            </tr>
            <tr>
                <th>{{ 'label.street_address'|trans }}</th>
                <td>{{ record.streetAddress}}</td>
            </tr>
             <tr>
                <th>{{ 'label.city'|trans }}</th>
                <td>{{ record.city}}</td>
            </tr>
            <tr>
                <th>{{ 'label.zipcode'|trans }}</th>
                <td>{{ record.zipcode}}</td>
            </tr>
            <tr>
                <th>{{ 'label.phone_number'|trans }}</th>
                <td>{{ record.phoneNumber}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_record_edit', { id: record.id }) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit"></i> {{ 'action.edit_record'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('admin/record/_form2.html.twig', {
            form: delete_form,
            button_label: 'action.delete_record'|trans,
            button_css: 'btn btn-lg btn-block btn-danger',
            show_confirmation: true,
        }, with_context = false) }}
    </div>  

{% endblock %}
